<h3>What are you making?</h3>
<form action="/recipes" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <label>
    Instructions
    <textarea name="instructions"></textarea>
  </label>
  <p>Secret? <input type="checkbox" name="private"></p>
  <input class="btn btn-primary" type="submit">
</form>
