<h3>Start finding recipes today!</h3>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <input class="btn btn-primary" type="submit">
</form>
